<div id="app">
   <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
     <div class="container">
       <div class="navbar-brand">
        <%= link_to vehicles_path do %>
           <%= image_tag "KITTFLIX.png" %>
        <% end %>
       </div>
         <div class="navbar-links">
            <ul>
              <li>
                <%= link_to vehicles_path do %>
                <%= 'Home' %>
                <% end %>
              </li>
              <li>
                <%= link_to "Promotions" %>
              </li>
              <li>
                <%= link_to profile_path do %>
                <%= 'My list' %>
                <% end %>
              </li>
            </ul>
          </div>
        <div class="search-bar-nav">
              <form action="" class="search-bar">
                <input type="search" name="search" pattern=".*\S.*" required>
                <button class="search-btn" type="submit">
                  <span>Search</span>
                </button>
              </form>
        </div>
          <li class="nav-item dropdown">
           <div class="avatar-square">
            <%= image_tag "profilnetflix.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to "Profil", profile_path(current_user), class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete ,  class: "dropdown-item" %>
                <%# <%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %>
                <% else %>
                <%= link_to 'Sign up',  new_user_registration_path, class:'dropdown-item' %>
                <%= link_to 'Sign in', user_session_path, class: "dropdown-item" %>
                <% end %>
                <%# <%= link_to "Log Out", "#", class: "dropdown-item" %>
                <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>
       </div>
    </nav>
</div>
