<div id="app">
   <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
     <div class="container">
       <div class="navbar-brand">
         <% link_to "#", root_path %>
           <%= image_tag "KITTFLIX.png" %>
        </div>
         <div class="navbar-links">
            <ul>
              <li>
              <%= link_to "Home" %>
              </li>
              <li>
              <%= link_to "Promotions" %>
              </li>
              <li>
              <%= link_to "My List" %>
              </li>
            </ul>
          </div>
           <div class="avatar-square">
              <%= link_to "#", root_path%>
              <%= image_tag "profilnetflix.jpg" %>
           </div>
       </div>
    </nav>
</div>


              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
