 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-interval="10">
  <div class="banner carousel-inner">
    <div class="carousel-item active">
          <h1 class="title-kitt"><span class="small-h1">bring </span>FICTION<span class="small-h1"> to</span><br>REALITY</h1>
      <img src="https://www.wallpaperuse.com/wallp/18-189386_m.jpg" class=""  alt="...">
    </div>
    <div class="carousel-item">
          <h1 class="title-delorean"><span class="small-h1"></span>Roads? Where we’re going, <br> we don’t need roads.<span class="small-h1"></span><br></h1>
      <img src="https://wallpaperaccess.com/full/1333809.jpg" class="" alt="...">
    </div>
    <div class="carousel-item">
          <h1 class="title-batmobile"><span class="small-h1"></span>WHY<span class="small-h1">so </span>SERIOUS?</h1>
      <img src="https://wallpaperaccess.com/full/1165268.jpg" class="" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

    <h3 class="title-card">Popular on Kittflix</h3>
<div class="cards">
      <% @vehicles.each do |vehicle| %>
        <%= link_to vehicle_path(vehicle), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= cl_image_path(vehicle.photos[0].key)%>')">
            <h3><%= vehicle.name %></h3>
          </div>
        <% end %>
      <% end %>
      </div>

    <h3 class="title-card">Top picks for you</h3>
    <div class="cards">
      <% @vehicles.each do |vehicle| %>
              <%= link_to vehicle_path(vehicle), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= cl_image_path(vehicle.photos.first.key) %>')">
                <h3><%= vehicle.name %></h3>
              </div>
              <% end %>
            <% end %>
            </div>

    <h3 class="title-card">Only on Kittflix</h3>
    <div class="cards">
      <% @vehicles.each do |vehicle| %>
              <%= link_to vehicle_path(vehicle), :action => 'go' do %>
           <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= cl_image_path(vehicle.photos.first.key) %>')">
                <h3><%= vehicle.name %></h3>
              </div>
              <% end %>
            <% end %>
          </div>
</div>
