<br><br>
<p class="name-title text-white text-center"><%= @vehicle.name %></p>


<div class="parent">
  <% @vehicle.photos.each_with_index do |photo, index|  %>
    <div class="div<%= index + 1 %>">
      <%= cl_image_tag photo.key, height: "100%", width: "100%" %>
    </div>
  <% end %>
</div>


<div class="row mt-5 mb-5 mx-3">
  <div class="col-sm-8 ">
    <div class="card bg-transparent">
      <div class="card-body text-white">

          <div class="card bg-transparent">

                <div class="d-flex justify-content-between mb-3 border-bottom">
                 <div>
                  <p class="text-start"><%= @vehicle.description %></p>
                </div>
              <div class="d-flex justify-content-between">
                <div class="pb-3">
                  <%= cl_image_tag @vehicle.user.photo.key, class: "avatar-large"  %>
                </div>
              <div>
                <p class="text-right"><%= @vehicle.user.last_name %> <%= @vehicle.user.first_name %></p>
              </div>
            </div>
              </div>
          </div>

          <dl>
            <dt class="col-sm-3">Year</dt>
            <dd class="col-sm-9"><%= @vehicle.year %></dd>

            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">
              <p><%= @vehicle.category %></p>
            </dd>
            <dt class="col-sm-3">Available</dt>
            <dd class="col-sm-9"><%= @vehicle.available ? "Yes" : "Not for the moment" %></dd>
          </dl>

      </div>
  </div>
</div>


<div id="modal"></div>

<div class="col-sm-4">
  <div class="card bg-dark">
    <div class="card-body">
      <div class="text-center mt-0">
        <h3 class="font-weight-bold text-white">Choose your dates</h3>
      </div>

        <div class="text-center text-white">
                <%= simple_form_for [@vehicle, @booking] do  |f| %>
            <%= f.input :start_date, as: :date, html5: true, class: 'start_date' %>
            <%= f.input :end_date, as: :date, html5: true, class: 'end_date' %>
              <div class="text-center" id="price" data-price="<%= @vehicle.price_per_day %>">
                <%= f.button :submit, 'Rent',
                class: "text-center btn btn-danger",
                id: "submit",
                :data => {:bs_toggle => "modal", :bs_target => "#exampleModal"} %>
              </div>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
